* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Schoolbell", cursive;
}

/* Main Section */

.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background: url(./Images/chalk.jpg);
  color: white;
}

.main h1 {
  font-size: 5rem;
}

.main p {
  font-size: 2.5rem;
  width: 50%;
  text-align: center;
  padding-top: 5rem;
}

#beginBtn {
  font-family: "Schoolbell", cursive;
  margin-top: 5rem;
}

#beginBtn:hover {
  background: green;
  color: white;
}

.highscore {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.highscore ul {
  list-style-type: none;
}

.highscore li {
  margin: 1rem;
}

/* Quiz section */

.quiz-section {
  min-height: 100vh;
  background: rgb(43, 51, 85);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  visibility: hidden;
  transition: all ease 0.5s;
  font-family: "Roboto", sans-serif;
}

.question-block {
  border: 1px solid black;
  font-size: 4rem;
  padding: 7rem;
  background: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 80%;
}

.question-message {
  margin-bottom: 4rem;
}

.question-options {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 2rem 4rem;
  background: white;
  cursor: pointer;
  transition: all ease 0.5s;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 10px;
  transition: ease all 0.5s;
}

.question-options button {
  margin: 1rem;
}

#next-btn {
  margin-top: 1rem;
  margin-left: 1rem;
}

#next-btn:hover,
.question-options button:hover {
  background: rgb(43, 51, 85);
  color: white;
}

.hide {
  display: none;
}

/* for selecting the wrong/correct answer */

.btn.correct {
  background: rgb(42, 104, 42);
  color: white;
}

.btn.wrong {
  background: rgb(105, 36, 36);
  color: white;
}
