* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

/* Main Section */

.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background: url(./Images/chalk.jpg);
  color: white;
}

.main h1 {
  font-size: 5rem;
  text-shadow: 2px 2px black;
}

.main p {
  font-size: 2.5rem;
  width: 50%;
  text-align: center;
  padding-top: 5rem;
  text-shadow: 2px 2px black;
}

#beginBtn {
  font-family: "Roboto", sans-serif;
  margin-top: 5rem;
}

#beginBtn:hover {
  background: rgb(43, 51, 85);
  color: white;
}

/* Quiz section */

.quiz-section {
  min-height: 100vh;
  background: rgb(43, 51, 85);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  visibility: hidden;
  transition: all ease 0.5s;
  font-family: "Roboto", sans-serif;
}

.question-block {
  border: 1px solid black;
  font-size: 4rem;
  padding: 7rem;
  background: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 80%;
}

.question-message {
  margin-bottom: 4rem;
}

.question-options {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 2rem 4rem;
  background: white;
  cursor: pointer;
  transition: all ease 0.5s;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 10px;
  transition: ease all 0.5s;
}

.question-options button {
  margin: 1rem;
}

#next-btn {
  margin-top: 1rem;
  margin-left: 1rem;
}

#next-btn:hover,
.question-options button:hover {
  background: rgb(43, 51, 85);
  color: white;
}

.timer-block {
  color: white;
  font-size: 3rem;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

/* Time up section */

.timeUp-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(167, 54, 54);
  color: white;
  font-size: 5rem;
  width: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.timeUp-section h1 {
  margin: 5rem;
}

#homeBtn:hover {
  background: rgb(43, 51, 85);
  color: white;
}

/* finish section */

.finish {
  min-height: 100vh;
  background: rgb(43, 51, 85);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.finish-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2 1 40rem;
}

.finish-block h1 {
  margin: 3rem;
  font-size: 4rem;
}

.initial-box {
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

#submitScoreBtn:hover {
  background: rgb(43, 51, 85);
  color: white;
}

.highscore {
  margin-right: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  flex: 1 1 40rem;
  position: absolute;
  top: 0;
}

.highscore ul {
  list-style-type: none;
}

.highscore li {
  margin: 1rem;
}

#homeBtnTwo:hover {
  background: rgb(43, 51, 85);
  color: white;
}

/* for selecting the wrong/correct answer */

.btn.correct {
  background: rgb(47, 194, 47);
  color: white;
}

.btn.wrong {
  background: rgb(197, 43, 43);
  color: white;
}

.btn.correct:hover {
  background: rgb(26, 121, 26);
  color: white;
}

.btn.wrong:hover {
  background: rgb(141, 26, 26);
  color: white;
}

.hide {
  display: none;
}
